.wrapper {
	max-width: 360px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 30px;

	.logo {
		margin: 0 auto;
		width: 95px;
	}

	.rights {
		text-align: center;
		color: var(--primary-grey);
		font-size: 14px;
		font-weight: 200;
	}
}

.navigation {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.navigation-item {
	a {
		color: var(--primary-white);
		font-style: 16px;
		font-weight: 200;
		text-decoration: none;
	}
}
