.wrapper {
	max-width: 1128px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--secondary-red);
}

.navigation {
	display: flex;
	list-style: none;
	gap: 60px;
	font-size: 20px;
	font-weight: 250;
	margin-left: 20px;
}

.navigationItem {
	a {
		color: #fff;
		text-decoration: none;
	}
}

.activeLink {
	padding-bottom: 18px;
	border-bottom: 1px solid var(--primary-red);
}
